<h1 class="page-header">Colorpicker<small>(<a target="_blank" href="https://github.com/DharmeshPipariya/md2/tree/master/src/colorpicker/colorpicker">Md2Colorpicker</a>)</small></h1>
<section id="colorpicker">
  <div class="row">
    <div class="col-sm-6">
      <h4>Bind on Input Textbox</h4>
      <input [(colorpicker)]="color" [style.background]="color" [value]="color" />
      <br /><br />
      <h4>Bind on Div</h4>
      <div [(colorpicker)]="color2" [style.background]="color2" [style.color]="color2" position="right" style="width:35px;height:35px"></div>
    </div>
    <div class="col-sm-6">
      <p>The <strong>colorpicker component</strong> is to color selecton functionality.</p>
      <h3>md2-colorpicker settings</h3>
      <ul>
        <li><code>colorPicker</code> (<code>?string</code>) - It bind color value.</li>
      </ul>
    </div>
  </div>
</section>