<div class="md2-multiselect-layout">
    <!--tabindex="0" [class.disabled]="_disabled" (keydown)="keyEvent($event)" (keyup)="keyEvent($event, true)"-->
    <div class="md2-multiselect-container">
        <!-- (^click)="clickEvent()"-->
        <!--<span *ngif="activeItem.length <= 0" class="md2-multiselect-placeholder">{{placeholder}}</span>-->
        <!--<span *ngfor="#a of activeItem" class="md2-multiselect-value">
            <span class="md2-multiselect-text">{{a.name}}</span>,
        </span>-->
        multiselect
        <i class="md2-multiselect-icon"></i>
    </div>
    <!--<ul *ngif="isMenuOpened && list && list.length > 0" class="md2-multiselect-menu">
        <li class="md2-option" *ngfor="#o of list" [class.active]="isActive(o)" (click)="selectItem(o, $event)">
            <div class="md2-option-text" [innerhtml]="o.text"></div>
        </li>
    </ul>-->
</div>