<h1 class="page-header">Menu Component</h1>
<div>
  <md2-menu [menu-label]="menuLabel">
    <a class="md2-menu-item" href="#/Accordion">Accordion</a>
    <a class="md2-menu-item" href="#/Autocomplete">Autocomplete</a>
    <a class="md2-menu-item" href="#/Multiselect">Multiselect</a>
    <a class="md2-menu-item" href="#/Select">Select</a>
    <a class="md2-menu-item" href="#/Switch">Switch</a>
  </md2-menu>

  <md2-menu>
    <menu-label>
      <b>Bold</b> Header Menu
    </menu-label>
    <a class="md2-menu-item" href="#/Accordion">Accordion</a>
    <a class="md2-menu-item" href="#/Autocomplete">Autocomplete</a>
    <a class="md2-menu-item" href="#/Multiselect">Multiselect</a>
    <a class="md2-menu-item" href="#/Select">Select</a>
    <a class="md2-menu-item" href="#/Switch">Switch</a>
  </md2-menu>
</div>