<h1 class="page-header">Dialog Component</h1>
<div>
  <button class="btn btn-primary" type="button" (click)="launchDialog(dialog)">Launch Dialog</button>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <button class="btn btn-primary" type="button" (click)="launchDialog(dialog1)">Launch Dialog1</button>

  <md2-dialog #dialog [dialog-header]="dialogHeader">
    <div class="md2-dialog-body">
      <p>Body of Dialog...</p>
      <button class="btn btn-primary" type="button" (click)="launchDialog(dialog1)">Launch Dialog1</button>
    </div>
    <div class="md2-dialog-footer">
      <button type="button" class="btn btn-primary" (click)="dialog.hide()">Close</button>
    </div>
  </md2-dialog>
  <md2-dialog #dialog1>
    <dialog-header>
      <strong>Hi</strong> Test Title
    </dialog-header>
    <div class="md2-dialog-body">
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
      <p>Lorum Ipsum Dummy body content for modal dialog of Material design with Angular2 made by Dharmesh Pipariya.</p>
    </div>
    <div class="md2-dialog-footer">
      <button type="button" class="btn btn-primary" (click)="dialog1.hide()">Close</button>
    </div>
  </md2-dialog>
</div>